.App {
  text-align: center;
  margin: auto;
  width: 40vw;
}

.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #ffd942;
  --rdp-background-color: #ffd9427b;
}

.rdp-head_cell{
  color: #838181cd 
}

.rdp-day_today{
  color:#ffdf5d
}
