.button{
  border: 2px solid #fff;
  border-radius: 15px;
  box-shadow: black 3px 2px 1px;
  background-color: #29323f;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-shadow: black 2px 1px 1px;
  padding: 8px;
  cursor: pointer;
  transition: .2s;
}

.button:hover{
  border: none;
  color: #fcee6d;
  background-color: #333b47;
  text-shadow: none;
}

.text{
    display: flex;
    color: #fcee6d;
    font-weight: 700;
    text-shadow: black 2px 1px 1px;
}

